.vs/
.vscode/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Backup/

*.sln.DotSettings.user
*.opensdf
*.sdf
*.suo
*.user
*.userosscache
*.sln.docstates
UpgradeLog.htm
*.sln
*.slnx
.vsconfig
Automation_*.sln
Automation_*.slnx
